.keyWord {
  font-family: monospace; 
  color: rgb(213, 75, 64);
}

.min .keyWord:hover {
	color: white;
}

.message-description p {
    font-size : 20px;
}

/* animation - part - 1 */
.disappear-animation {
    -webkit-animation: KEYFRAME-NAME 5s infinite;
    -moz-animation:    KEYFRAME-NAME 5s infinite;
    -o-animation:      KEYFRAME-NAME 5s infinite;
    animation:         KEYFRAME-NAME 5s infinite;
}

@keyframes pulse {
    0%, 100% {
        background-color: yellow;
    }
    50% {
        background-color: red;
    }
}

@-webkit-keyframes KEYFRAME-NAME {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes KEYFRAME-NAME {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@-o-keyframes KEYFRAME-NAME {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes KEYFRAME-NAME {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

/* animation - part - 2 */
h1.loader {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    font-size: 4.6875em;
    color: transparent;
    letter-spacing: 0.01em;
    padding-bottom: 30px;
}

.loader span {
    text-shadow:
            0 0 2px rgba(204, 208, 212,0.9),
            0 15px 25px rgba(0, 0, 0, 0.3),
            0 -2px 3px rgba(0, 0, 0, 0.1),
            0 -5px 10px rgba(255, 255, 255, 0.1),
            0 5px 10px rgba(0, 0, 0, 0.1),
            0 3px 4px rgba(255, 255, 255, 0.1),
            0 0 20px rgba(255, 255, 255, 0.1);

    animation: loading 0.85s ease-in-out infinite alternate;
}

.animated.bounceIn,
.animated.bounceInDown,
.animated.wobble,
.animated.fadeInLeft,
.animated.zoomInUp,
.animated.lightSpeedIn,
.animated.wobble {
    animation-duration: 2s;
}

@keyframes loading {
    to {text-shadow:
            0 0 2px rgba(213, 75, 64, 0.8),
            0 0 3px rgba(0, 0, 0, 0.02),
            0 0 0 rgba(0, 0, 0, 0),
            0 0 0 rgba(255, 255, 255, 0),
            0 0 0 rgba(0, 0, 0, 0),
            0 0 0 rgba(255, 255, 255, 0),
            0 0 0 rgba(255, 255, 255, 0);}
}

.loader span:nth-child(2) {
    animation-delay:0.15s;
}

.loader span:nth-child(3) {
    animation-delay:0.30s;
}

.loader span:nth-child(4) {
    animation-delay:0.45s;
}

.loader span:nth-child(5) {
    animation-delay:0.60s;
}

.loader span:nth-child(6) {
    animation-delay:0.75s;
}

.loader span:nth-child(7) {
    animation-delay:0.90s;
}

/* animation - part - 3 */
.fjbal span {

    /*font: 700 4em/1 "Oswald", sans-serif;*/
    letter-spacing: 0;
    padding: .25em 0 .325em;
    /*display: block;*/
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255,255,255,.5);

    /* Clip Background Image */

    background: url(http://f.cl.ly/items/010q3E1u3p2Q0j1L1S1o/animated_text_fill.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;

    /* Animate Background Image */

    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;

    /* Activate hardware acceleration for smoother animations */

    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
}

/* Animate Background Image */

@-webkit-keyframes aitf {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}
